.no-bullet {
	list-style-type: none;
	padding: 0;
}

.horiz-list { 
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

body {
	margin: 30px 50% 0px 20px;
	color: #000033;
	font-family: "Segoe UI", Helvetica, Tahoma, sans-serif;
	background-color: #fafafa;
}

@media screen and (max-width: 768px) {
	body {
		margin-right: 20px;
	}
}

img {
	width: 50%;
	height: auto;
}
