.horiz-list {
	list-style-type: none;
	padding: 0;
	display: flex;
	gap: 10px;
}

body {
	margin: 30px 50% 0px 20px;
	color: #000033;
	font-family: "Segoe UI", Helvetica, Tahoma, sans-serif;
	background-color: #fafafa;
}
